<h1><%= @post.title %></h1>
<p><%= @post.body %></p>

<%= link_to 'Edit', edit_user_post_path(@user, @post) %>
<%= link_to "Delete Post", post_path(@user, @post), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>

<%= link_to 'New Comment', new_user_post_comment_path(@user, @post) %>

<h2>Comments:</h2>
<ul>
  <% @post.comments.each do |comment| %>
    <li><%= comment.commenter + ": " + comment.body %></li>
    <%= link_to "Delete Comment", user_post_comment_path(@user, @post, comment), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
  <% end %>
</ul>

